<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.alarm.AlarmDAO">

<select id="list" parameterType="String" resultType="alarm">
SELECT * 
FROM (select as2.alarm_num, as2.read_check from alarm_send as2 join employee e on 
e.emp_num = as2.emp_num where as2.emp_num = #{emp_num} ) as a left join (select e2.emp_name, 
a.sender, a.alarm_num, as3.alarm_sort_name,as3.alarm_sort_num, a.alarm_content, a.send_date, 
a.all_num from alarm a join alarm_sort as3 on a.alarm_sort_num = as3.alarm_sort_num join employee 
e2 on e2.emp_num = a.sender) as b on a.alarm_num = b.alarm_num order by b.send_date desc, a.read_check

</select>

<select id="alarmNum" parameterType="String" resultType="alarm">
SELECT alarm_num from alarm_send as2 where emp_num =#{emp_num} and read_check = 0
</select>

<select id="detailInfo" parameterType="int" resultType="alarm">
SELECT alarm_sort_num , all_num  from alarm a where alarm_num = #{alarm_num}
</select>

<update id="alarmCount" parameterType="int">
update alarm_send set read_check = 1 where alarm_num = #{alarm_num} 
</update>



	
</mapper>