<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.doc.DocDAO">
	<select id="sort" resultType="doc">
		select * from doc_sort;
	</select>	
	
	<select id="form" resultType="doc">
		select form_num, form_title from doc_form where doc_sort_num=#{param1};
	</select>	
	
	
	<select id="formContent" resultType="string">
		select form_style from doc_form where form_num=#{param1};
	</select>	
	
	<select id="lineList" resultType="doc">
		select e.emp_num, e.emp_name, t.team_name, p.pos_name, rank_num from employee e , team t , `position` p where e.team_num =t.team_num and p.pos_num =e.pos_num;
	</select>
	
	<select id="teamList" resultType="string">
		select team_name from team;
	</select>
	<select id="floorList" resultType="string">
		select floor from section group by floor;
	</select>
	<select id="sectionList" resultType="doc">
		select section_num, section_state from section where floor=#{param1};
	</select>
	
</mapper>