<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.doc.DocDAO">
	<select id="sort" resultType="doc">
		select * from doc_sort;
	</select>

	<select id="form" resultType="doc">
		select form_num, form_title from
		doc_form where doc_sort_num=#{param1};
	</select>


	<select id="formContent" resultType="string">
		select form_style from
		doc_form where form_num=#{param1};
	</select>

	<select id="lineList" resultType="doc">
		select e.emp_num, e.emp_name,
		t.team_name, p.pos_name, p.pos_level from employee e , team t ,
		`position` p where e.team_num =t.team_num and p.pos_num =e.pos_num and p.pos_level <![CDATA[
<
]]>  (select p2.pos_level from employee e2, position p2 where e2.pos_num = p2.pos_num and e2.emp_num = #{param1});
	</select>

	<select id="getReturnEmp" resultType="string">
		select emp_num from doc_log dl where doc_num = #{param1} and result = #{param2}; 
	</select>
	<select id="teamList" resultType="string">
		select team_name from team
		where act=false;
	</select>
	<select id="floorList" resultType="string">
		select floor from section
		group by floor;
	</select>
	<select id="sectionList" resultType="doc">
		SELECT s.store_num, s.store_name from store s , `section` s2 WHERE s.section_num = s2.section_num and s.exist_check =true and s.exist_check = true
and s2.floor = #{param1} ORDER by s2.section_num; 
	</select>
	<select id="storeList" resultType="doc">
		SELECT s.section_num ,
		s2.store_name from section s , store s2 where s.section_num 
		=s2.section_num and s2.exist_check = true and emp_num = #{param1};
	</select>
	<select id="dateList" resultType="String">
		SELECT
		DATE_FORMAT(doc_date,'%Y-%c-%e') from doc_sales where store_num =
		'10101004';
	</select>
	<select id="unsignedStore" resultType="doc">
		SELECT store_name,
		s.section_num, mc.minor_category_name, s.minor_category_num, s.store_num from store s,
		`section` s3, minor_category mc WHERE s3.section_num = s.section_num and mc.minor_category_num=s.minor_category_num and s3.emp_num =
		#{param1} and s.exist_check = true and not store_name in (SELECT s.store_name from store s,
		`section` s2,doc_sales ds WHERE s.section_num = s2.section_num and
		ds.store_num = s.store_num and s.exist_check = true and ds.is_signed = true and s.exist_check = true
		and s2.emp_num = #{param1} and ds.doc_date =
		#{param2}
		);
	</select>




	<select id="myDisDocList" resultType="doc">
		SELECT d.doc_num, ds.doc_sort_name, d.doc_sub, d.doc_reg, d.doc_pro,
		ds2.doc_state_name from doc d, doc_sort ds, doc_state ds2 WHERE
		d.doc_sort_num = ds.doc_sort_num and d.doc_state_num =
		ds2.doc_state_num and d.emp_num = #{param1}
		<if test="doc_state_num==1">
			and d.doc_state_num=1
		</if>
		<if test="doc_state_num!=1">
			and d.doc_state_num !=1
		</if>
		<if test="doc_sort==0"></if>
		<if test="doc_sort!=0">
			and ds.doc_sort_num=#{param3}
		</if>
		<if test="content.equals('')"></if>
		<if test="!content.equals('')">
			and ${param6} like CONCAT('%',#{param4},'%')
		</if>
		order by d.doc_num DESC
		limit 10
		offset #{param5}
		;
	</select>


	<select id="myDisDocListCnt" resultType="int">
		SELECT count(doc_num) from doc d, doc_sort ds, doc_state ds2 WHERE
		d.doc_sort_num = ds.doc_sort_num and d.doc_state_num =
		ds2.doc_state_num and d.emp_num = #{param1}
		<if test="doc_state_num==1">
			and d.doc_state_num=1
		</if>
		<if test="doc_state_num!=1">
			and d.doc_state_num !=1
		</if>
		<if test="doc_sort==0"></if>
		<if test="doc_sort!=0">
			and ds.doc_sort_num=#{param3}
		</if>
		<if test="content.equals('')"></if>
		<if test="!content.equals('')">
			and ${param5} like CONCAT('%',#{param4},'%')
		</if>
		;
	</select>

<insert id="insertLog">
	insert into doc_log (doc_num, emp_num, result)values(#{param1}, #{param2}, #{param3});
</insert>

	<select id="getDocDetail" resultType="doc">
		select * from doc d, employee e where d.emp_num = e.emp_num and doc_num=#{param1}
	</select>

	<select id="getDocLines" resultType="doc">
		select dl.*, e.emp_name, p.pos_level from doc_line dl, employee e, position p where
		e.pos_num = p.pos_num and dl.emp_num=e.emp_num and doc_num=#{param1} and doc_line_ref =false ORDER BY p.pos_level DESC;
	</select>

	<select id="getDocExLines" resultType="doc">
		select dl.*, e.emp_name from doc_line dl, employee e where
		dl.emp_num=e.emp_num and doc_num=#{param1} and doc_line_ref =true;
	</select>


	<select id="getDocEvent" resultType="doc">
		select el.*, s.store_name, s2.floor from event_log el, store s, section s2
		where el.store_num=s.store_num and s.section_num=s2.section_num and
		doc_num=#{param1};
	</select>

	<select id="getDocSales" resultType="doc">
		select ds.* , mc.minor_category_name, s.store_name from doc_sales ds,
		minor_category mc, store s where ds.store_num=s.store_num and
		ds.minor_category_num=mc.minor_category_num and doc_num=#{param1};
	</select>

	<select id="getDocEss" resultType="doc">
		select * from emp_state_schedule where doc_num=#{param1};
	</select>

	<update id="updateDoc">
		update doc set doc_state_num=4 where doc_num=#{param1}
	</update>

	<insert id="insertDoc" parameterType="doc"
		useGeneratedKeys="true" keyColumn="doc_num" keyProperty="doc_num">
		insert into
		doc (doc_sort_num, emp_num, doc_sub,
		doc_content, team_num)values(#{doc_sort_num},#{emp_num},#{doc_sub},#{doc_content},#{team_num});
	</insert>

	<update id="formUphit">
		update doc_form set form_cnt=form_cnt+1 where
		form_num=#{param1};
	</update>


	<insert id="insertDocLine">
		insert into doc_line (doc_num,
		emp_num)values(#{param1}, #{param2});
	</insert>

	<insert id="insertDocExLine">
		insert into doc_line (doc_num, emp_num,
		doc_line_ref)values(#{param1}, #{param2}, true);
	</insert>

	<select id="getNextSign" resultType="string">
		SELECT e.emp_num from doc d
		, doc_line dl, employee e, position p where e.pos_num= p.pos_num and d.doc_num = dl.doc_num and dl.emp_num
		=e.emp_num and d.doc_num =#{param1} and dl.doc_line_ref = false and
		dl.doc_line_chk=false ORDER BY p.pos_level DESC limit 1;
	</select>

		<select id="getNextSignEmpCnt" resultType="Integer">
		SELECT count(e.emp_num) from doc d
		, doc_line dl, employee e, position p where e.pos_num= p.pos_num and d.doc_num = dl.doc_num and dl.emp_num
		=e.emp_num and d.doc_num =#{param1} and dl.doc_line_ref = false and
		dl.doc_line_chk=false ORDER BY p.pos_level DESC limit 1;
	</select>


	<update id="setNextSign">
		update doc_line set doc_sign = true where doc_num = #{param1} and emp_num =
		#{param2};

	</update>


	<insert id="insertEventDoc" parameterType="hashmap">
		insert into event_log
		(doc_num, store_num, event_start, event_finish)values(#{doc_num},
		#{store_num}, #{start_time}, #{end_time});
	</insert>


	<insert id="insertEssDoc">
		INSERT INTO emp_state_schedule (emp_num, start_time, end_time, date_type,
		doc_num)values(#{param1}, #{param2}, #{param3}, #{param4}, #{param5});
	</insert>

	<insert id="insertSalesDoc">
		INSERT INTO doc_sales (doc_num, store_num, section_num, minor_category_num, emp_num, doc_date, sales_money)
		values
		(#{param1}, #{param2}, #{param3}, #{param4}, #{param5},#{param6},#{param7});
	</insert>

	<insert id="sendAlarm" parameterType="docsend"
		useGeneratedKeys="true" keyColumn="alarm_num" keyProperty="alarm_num">
		insert into alarm (alarm_sort_num, alarm_content, sender, all_num)values(#{alarm_sort_num},#{alarm_content},#{sender},#{all_num});
	</insert>
	
	<insert id="setSender">
		insert into alarm_send (alarm_num, emp_num)values(#{param1},#{param2});
	</insert>
	
	
	<insert id="insertSchedule" parameterType="docSchedule"
		useGeneratedKeys="true" keyColumn="sch_num" keyProperty="sch_num">
	INSERT into schedule (team_num, sch_start, sch_end, emp_num, sch_sort, sch_content)values((select e.team_num from employee e where emp_num=#{emp_num}), #{start_time}, #{end_time}, #{emp_num}, #{sch_sort}, #{sch_content});
	
	</insert>
	
	<insert id="insertScheduleMem">
	insert into schedule_mem (sch_num, emp_num)values(#{param1}, #{param2});
	</insert>
	
	<select id="recListCount" resultType="Integer">
		SELECT count(d.doc_num) 
		from employee e, doc d , doc_line dl, doc_sort ds, doc_state ds2 
	 	where d.emp_num = e.emp_num 
	 	and d.doc_state_num = ds2.doc_state_num
	 		 	<if test="doc_state_num==0">
	 	and d.doc_state_num in(1,2,3)
	 	</if>
	 	<if test="doc_state_num==1">
	 		and d.doc_state_num = 1
	 	</if>
	 	<if test="doc_state_num==2">
	 		and d.doc_state_num = 2
	 	</if>
	 	<if test="doc_state_num==3">
	 		and d.doc_state_num = 3
	 	</if>
	 	and ds.doc_sort_num = d.doc_sort_num 
	 	and d.doc_num = dl.doc_num 
	 	<if test="keyword.equals('')"></if>
	 	<if test="!keyword.equals('')">
	 		and ${param6} like CONCAT('%',#{param1},'%')
	 	</if>
	 	<if test="doc_sort_num==0"></if>
	 	<if test="doc_sort_num!=0">
	 		and d.doc_sort_num = #{param2}
	 	</if>
	 	and dl.doc_line_ref = FALSE 
	 	<if test="doc_category_num==0">
	 		and dl.doc_line_chk=false
	 	</if>
	 	<if test="doc_category_num==1">
	 		and dl.doc_line_chk=true
	 	</if>
	 	and dl.doc_sign = true 
	 	and dl.emp_num =#{param3}

	
	</select>

	<select id="recList" resultType="doc">
		SELECT d.*, ds.doc_sort_name, ds2.doc_state_name, e.emp_name 
		from employee e, doc d , doc_line dl, doc_sort ds, doc_state ds2 
	 	where d.emp_num = e.emp_num 
	 	and d.doc_state_num = ds2.doc_state_num
	 	<if test="doc_state_num==0">
	 	and d.doc_state_num in(1,2,3)
	 	</if>
	 	<if test="doc_state_num==1">
	 		and d.doc_state_num = 1
	 	</if>
	 	<if test="doc_state_num==2">
	 		and d.doc_state_num = 2
	 	</if>
	 	<if test="doc_state_num==3">
	 		and d.doc_state_num = 3
	 	</if>
	 	and ds.doc_sort_num = d.doc_sort_num 
	 	and d.doc_num = dl.doc_num 
	 	<if test="keyword.equals('')"></if>
	 	<if test="!keyword.equals('')">
	 		and ${param7} like CONCAT('%',#{param1},'%')
	 	</if>
	 	<if test="doc_sort_num==0"></if>
	 	<if test="doc_sort_num!=0">
	 		and d.doc_sort_num = #{param2}
	 	</if>
	 	and dl.doc_line_ref = FALSE 
	 	<if test="doc_category_num==0">
	 		and dl.doc_line_chk=false
	 	</if>
	 	<if test="doc_category_num==1">
	 		and dl.doc_line_chk=true
	 	</if>
	 	and dl.doc_sign = true 
	 	and dl.emp_num =#{param3}
	 	ORDER BY d.doc_num DESC
	 	limit 10
		offset #{param6};

	
	</select>
	
	<select id="getSignState" resultType="docSign">
	
	select * from doc_line where doc_num=#{param1} and emp_num=#{param2}
	</select>
	
	
	<update id="doSign">
		update doc_line set doc_line_chk = true where doc_num=#{param1} and emp_num = #{param2}
	</update>
	
	<update id="setDocComp">
		update doc set doc_state_num = 2, doc_pro=curdate() where doc_num=#{param1};
	</update>
	
	<select id="getDocBrief" resultType="doc">
		select emp_num, doc_sort_num from doc where doc_num=#{param1};
	</select>
	<update id="isSingedSales">
		update doc_sales set is_signed=true where doc_num=#{param1};
	</update>
		<update id="isSingedEvent">
		update event_log set is_signed=true where doc_num=#{param1};
	</update>
	<select id="getSch" resultType="docSchedule">
		select * from emp_state_schedule where doc_num=#{param1};
	</select>
	
	<update id="docReturn">
		update doc set doc_state_num=3, doc_cause = #{param2}, doc_pro=curdate() where doc_num=#{param1};
	</update>

	<select id="getPreSignedEmp" resultType="string">
	SELECT e.emp_num from doc d
		, doc_line dl, employee e, position p where e.pos_num= p.pos_num and d.doc_num = dl.doc_num and dl.emp_num
		=e.emp_num and d.doc_num =84 and dl.doc_line_ref = false and
		dl.doc_line_chk=true;
	</select>
	
	<select id="compDocsCnt" resultType="Integer">
		select count(d.doc_num) from doc d, doc_state ds, doc_sort ds2, employee e 
		where d.doc_state_num = ds.doc_state_num 
		and d. doc_sort_num = ds2.doc_sort_num 
		and d.emp_num = e.emp_num
		<if test="doc_sort_num==0"></if> 
		<if test="doc_sort_num!=0">
		and d.doc_sort_num = #{param3}
		</if> 
		<if test="doc_state_num==0">
		and d.doc_state_num in (2,3)
		</if>
		<if test="doc_state_num!=0">
		and d.doc_state_num = #{param4}
		</if>
		<if test="option.equals('')"></if>
		<if test="!option.equals('')">
			and ${param1} like CONCAT('%',#{param2},'%')
		</if>
		;
	</select>
	
		<select id="compDocs" resultType="doc">
		select d.*, e.emp_name, ds.doc_state_name, ds2.doc_sort_name
		from doc d, doc_state ds, doc_sort ds2, employee e 
		where d.doc_state_num = ds.doc_state_num 
		and d. doc_sort_num = ds2.doc_sort_num 
		and d.emp_num = e.emp_num
		<if test="doc_sort_num==0"></if> 
		<if test="doc_sort_num!=0">
		and d.doc_sort_num = #{param3}
		</if> 
		<if test="doc_state_num==0">
		and d.doc_state_num in (2,3)
		</if>
		<if test="doc_state_num!=0">
		and d.doc_state_num = #{param4}
		</if>
		<if test="option.equals('')"></if>
		<if test="!option.equals('')">
			and ${param1} like CONCAT('%',#{param2},'%')
		</if>
		ORDER BY d.doc_num DESC
		limit 10 offset #{param5}
		;
		
	</select>
	
	
		<select id="docExRecCnt" resultType="Integer">
		select count(d.doc_num) from doc d, doc_state ds, doc_sort ds2, employee e , doc_line dl
		where d.doc_state_num = ds.doc_state_num 
		and d.doc_num = dl.doc_num
		and d. doc_sort_num = ds2.doc_sort_num 
		and dl.doc_line_ref = true 
		and d.emp_num = e.emp_num
		<if test="doc_sort_num==0"></if> 
		<if test="doc_sort_num!=0">
		and d.doc_sort_num = #{param4}
		</if> 
		<if test="doc_state_num==0">
		and d.doc_state_num in (1,2,3)
		</if>
		<if test="doc_state_num!=0">
		and d.doc_state_num = #{param5}
		</if>
		<if test="option.equals('')"></if>
		<if test="!option.equals('')">
			and ${param2} like CONCAT('%',#{param3},'%')
		</if>
		and dl.emp_num = #{param1}
		;
	</select>
	
		<select id="docExRec" resultType="doc">
		select d.*, e.emp_name, ds.doc_state_name, ds2.doc_sort_name
		from doc d, doc_state ds, doc_sort ds2, employee e , doc_line dl
		where d.doc_state_num = ds.doc_state_num 
		and d.doc_num = dl.doc_num
		and d. doc_sort_num = ds2.doc_sort_num 
		and dl.doc_line_ref = true 
		and d.emp_num = e.emp_num
		<if test="doc_sort_num==0"></if> 
		<if test="doc_sort_num!=0">
		and d.doc_sort_num = #{param4}
		</if> 
		<if test="doc_state_num==0">
		and d.doc_state_num in (1,2,3)
		</if>
		<if test="doc_state_num!=0">
		and d.doc_state_num = #{param5}
		</if>
		<if test="option.equals('')"></if>
		<if test="!option.equals('')">
			and ${param2} like CONCAT('%',#{param3},'%')
		</if>
		and dl.emp_num = #{param1}
		ORDER BY d.doc_num DESC
		limit 10 offset #{param6}
		;
		
	</select>
	
			<select id="docTeamCnt" resultType="Integer">
		select count(d.doc_num) from doc d, doc_state ds, doc_sort ds2, employee e
		where d.doc_state_num = ds.doc_state_num 
		and d. doc_sort_num = ds2.doc_sort_num 
		and d.emp_num = e.emp_num
		<if test="doc_sort_num==0"></if> 
		<if test="doc_sort_num!=0">
		and d.doc_sort_num = #{param3}
		</if> 
		<if test="doc_state_num==0">
		and d.doc_state_num in (2,3)
		</if>
		<if test="doc_state_num!=0">
		and d.doc_state_num = #{param4}
		</if>
		<if test="keyword.equals('')"></if>
		<if test="!keyword.equals('')">
			and ${param5} like CONCAT('%',#{param2},'%')
		</if>
		and d.team_num = #{param1}
		;
	</select>
	
		<select id="docTeam" resultType="doc">
		select d.*, e.emp_name, ds.doc_state_name, ds2.doc_sort_name
		from doc d, doc_state ds, doc_sort ds2, employee e
		where d.doc_state_num = ds.doc_state_num 
		and d. doc_sort_num = ds2.doc_sort_num 
		and d.emp_num = e.emp_num
		<if test="doc_sort_num==0"></if> 
		<if test="doc_sort_num!=0">
		and d.doc_sort_num = #{param3}
		</if> 
		<if test="doc_state_num==0">
		and d.doc_state_num in (2,3)
		</if>
		<if test="doc_state_num!=0">
		and d.doc_state_num = #{param4}
		</if>
		<if test="keyword.equals('')"></if>
		<if test="!keyword.equals('')">
			and ${param6} like CONCAT('%',#{param2},'%')
		</if>
		and d.team_num = #{param1}
		ORDER BY d.doc_num DESC
		limit 10 offset #{param5}
		;
		
	</select>
	
	
	<select id="getSpecialStd" resultType="double">
		select standard from special ORDER BY stand_date DESC limit 1; 
	
	</select>
	
		<select id="getEntireAvg" resultType="double">
		select ROUND( AVG(sales_money),0) from doc_sales ds WHERE store_num = #{param1} and is_signed is true;
	</select>
	<insert id="insertSpecial">
		insert into special_log (store_id, write_date, standard, sale_inc)values(#{param1}, #{param2}, #{param3}, #{param4});
	</insert>
	<select id="getSaleBrief" resultType="doc">
		select store_num, doc_date, sales_money from doc_sales where is_signed=true and doc_num=#{param1};
	</select>
	
	<select id="getSignImg" resultType="string">
		select new_filename from file where file_sort_num=2 and all_num=#{param1};
	</select>
	
</mapper>