<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.doc.DocDAO">
	<select id="sort" resultType="doc">
		select * from doc_sort;
	</select>

	<select id="form" resultType="doc">
		select form_num, form_title from
		doc_form where doc_sort_num=#{param1};
	</select>


	<select id="formContent" resultType="string">
		select form_style from
		doc_form where form_num=#{param1};
	</select>

	<select id="lineList" resultType="doc">
		select e.emp_num, e.emp_name,
		t.team_name, p.pos_name, rank_num from employee e , team t ,
		`position` p where e.team_num =t.team_num and p.pos_num =e.pos_num;
	</select>

	<select id="teamList" resultType="string">
		select team_name from team;
	</select>
	<select id="floorList" resultType="string">
		select floor from section
		group by floor;
	</select>
	<select id="sectionList" resultType="doc">
		select store_name from section where emp_num=#{param1};
	</select>
	<select id="storeList" resultType="doc">
		SELECT s.section_num ,
		s2.store_name from section s , store s2 where s.section_num
		=s2.section_num and emp_num = #{param1};
	</select>
	<select id="dateList" resultType="String">
		SELECT DATE_FORMAT(doc_date,'%Y-%c-%e') from doc_sales where store_num = '10101004';
	</select>
	<select id="unsignedStore" resultType="doc">
		SELECT store_name, s.section_num, s.minor_category_num, s.store_num from store s, `section` s3  WHERE s3.section_num = s.section_num and s3.emp_num = #{param1} and not store_name in (SELECT s.store_name from store s, `section` s2,doc_sales ds  WHERE s.section_num = s2.section_num and ds.store_num = s.store_num 
and s2.emp_num = #{param1} and ds.doc_date = #{param2}
);
	</select>
	
	
	
	
	<select id="myDisDocList" resultType="doc">
		SELECT d.doc_num, ds.doc_sort_name, d.doc_sub, d.doc_reg from doc d, doc_sort ds WHERE d.doc_sort_num = ds.doc_sort_num and d.emp_num = #{param1} and 
		<if test="doc_state_num==1">
		d.doc_state_num=1;
		</if>
		<if test="doc_state_num!=1">
		d.doc_state_num !=1;
		</if>
	</select>
	
	
	
</mapper>