<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.hr.HRDAO">

<select id="hrlist" resultType="hashmap">
SELECT  e.emp_num, e.emp_name,  p.pos_name, e.join_date , t.team_name , d.dep_name ,  r.rank_name , s.state
from employee e join `position` p  on e.pos_num = p.pos_num
join team t on e.team_num = t.team_num  
join departure d on t.dep_num = d.dep_num
join `rank` r ON e.rank_num = r.rank_num 
join state s on e.state_num = s.state_num
</select>

<select id="deplist" resultType="hashmap">
select * from departure

</select>

<select id="teamlist" resultType="hr">
	SELECT * from team where dep_num = #{param1}
</select>

<select id="ranklist" resultType="hr">
	SELECT * from rank
</select>

<select id="poslist" resultType="hr">
	SELECT * from position
</select>

<select id="teamCount" resultType="int" parameterType="hashmap">
select count(team_num) from employee where team_num = #{team_num}
</select>

<insert id="hrAdd" parameterType="hashmap">
insert into employee(emp_num, emp_name, birth, email, phone, team_num, pos_num, rank_num, academy, join_date)
values(#{emp_num}, #{emp_name}, #{birth}, #{email}, #{phone}, #{team_num}, #{pos_num}, #{rank_num}, #{academy}, #{join_date})
</insert>

<select id="teamManage" resultType="hr">
	SELECT t.team_name , d.dep_name  from team t inner join departure d on d.dep_num = t.dep_num  ;
</select>

<select id="posList" resultType="hr">
SELECT * from position
</select>

<insert id="teamAdd" parameterType="hashmap">
insert into team(dep_num, team_name) values(#{dep_num}, #{team_name})
</insert>	
	
<insert id="posAdd" parameterType="hashmap">
insert into `position` (pos_name, pos_level) values(#{pos_name}, #{pos_level})
</insert>	

<insert id="rankAdd" parameterType="hashmap">
insert into `rank` (rank_name, rank_level) values(#{rank_name}, #{rank_level})
</insert>	
	
</mapper>