<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.hr.HRDAO">

<select id="hrlist" resultType="hr">
SELECT  e.emp_num, e.emp_name,  p.pos_name, e.join_date , t.team_name , d.dep_name ,  r.rank_name , state
from employee e join `position` p  on e.pos_num = p.pos_num
join team t on e.team_num = t.team_num  
join departure d on t.dep_num = d.dep_num
join `rank` r ON e.rank_num = r.rank_num 
join state s on e.state_num = s.state_num
order by t.dep_num, p.pos_level
limit 10
offset #{param1}
</select>

<select id="deplist" resultType="hashmap">
select * from departure
</select>

<select id="teamlist" resultType="hr">
	SELECT * from team where dep_num = #{param1} and act = 0
</select>

<select id="ranklist" resultType="hr">
	SELECT * from rank where act = 0
</select>

<select id="poslist" resultType="hr">
	SELECT * from position where act = 0
</select>

<select id="teamCount" resultType="int" parameterType="hashmap">
select count(team_num) from employee where team_num = #{team_num}
</select>

<insert id="hrAdd" parameterType="hashmap">
insert into employee(emp_num, emp_name, birth, email, phone, team_num, pos_num, rank_num, academy, join_date)
values(#{emp_num}, #{emp_name}, #{birth}, #{email}, #{phone}, #{team_num}, #{pos_num}, #{rank_num}, #{academy}, #{join_date})
</insert>

<select id="teamManage" resultType="hr">
	SELECT t.team_name , d.dep_name, t.team_num, d.dep_num, t.team_num, t.act  
	from team t inner join departure d on d.dep_num = t.dep_num
	limit 10
	offset #{param1}
</select>

<select id="posList" resultType="hr">
SELECT * from position
</select>

<select id="rankList" resultType="hr">
SELECT * from rank
</select>

<insert id="teamAdd" parameterType="hashmap">
insert into team(dep_num, team_name) values(#{dep_num}, #{team_name})
</insert>	
	
<insert id="posAdd" parameterType="hashmap">
insert into `position` (pos_name, pos_level) values(#{pos_name}, #{pos_level})
</insert>	

<insert id="rankAdd" parameterType="hashmap">
insert into `rank` (rank_name, rank_level) values(#{rank_name}, #{rank_level})
</insert>	

<select id="teamDetail" resultType="hr" parameterType="String">
select * from team where team_name = #{team_name}

</select>

<update id="teamUp" parameterType="hashmap">
update team set team_name = #{team_name}, dep_num = #{dep_num} where team_num = #{team_num}
</update>

<update id="posUp" parameterType="hashmap">
update `position` set pos_name = #{pos_name}, pos_level = #{pos_level} where pos_num = #{pos_num}
</update>

<update id="rankUp" parameterType="hashmap">
update `rank` set rank_name = #{rank_name}, rank_level = #{rank_level} where rank_num = #{rank_num}
</update>

<select id="empDetail" resultType="hashmap" parameterType="hashmap">
select birth, email, phone, academy, e.team_num, pos_num, rank_num, t.dep_num, s.state_num , s.state 
from employee e join team t on e.team_num = t.team_num 
join state s on e.state_num = s.state_num  where emp_num = #{emp_num};
</select>

<update id="empUpdate" parameterType="hashmap">
update employee  set 
emp_name = #{emp_name}, birth = #{birth}, email = #{email}, phone = #{phone},
academy =#{academy}, join_date = #{join_date}, team_num = #{team_num}, pos_num = #{pos_num}, 
rank_num = #{rank_num}, state_num = #{state_num}
where emp_num = #{emp_num}

</update>


<update id="teamCheck" parameterType="hashmap">
update team set act = 0 where team_num = #{val}
</update>

<update id="teamCheckClear" parameterType="hashmap">
update team set act = 1 where team_num = #{val}
</update>

<update id="posCheck" parameterType="hashmap">
update `position`set act = 0 where pos_num = #{val}
</update>

<update id="posCheckClear" parameterType="hashmap">
update `position` set act = 1 where pos_num = #{val}
</update>

<update id="rankCheck" parameterType="hashmap">
update `rank` set act = 0 where rank_num = #{val}
</update>

<update id="rankCheckClear" parameterType="hashmap">
update `rank` set act = 1 where rank_num = #{val}
</update>

<select id="OriTeamCheck" resultType="int" parameterType="hashmap">
select act from team where team_num =#{val}
</select>

<select id="OriPosCheck" resultType="int" parameterType="hashmap">
select act from `position` where pos_num =#{val}
</select>

<select id="OriRankCheck" resultType="int" parameterType="hashmap">
select act from `rank` where rank_num =#{val}
</select>

<select id="totalCount" resultType="int">
	select count(*) from employee
</select>

<select id="searchCount" resultType="int">
	select count(*) from employee 
	<where>
	<if test="!detailContent.equals('') and sl1.equals('emp_num') ">
		emp_num like CONCAT('%',#{detailContent} ,'%')
	</if>
	
	<if test="!detailContent.equals('') and sl1.equals('emp_name') ">
		emp_name like CONCAT('%',#{detailContent} ,'%')
	</if>
</where>
</select>

<select id="searchList" resultType="hr" parameterType="hashmap">
SELECT  e.emp_num, e.emp_name,  p.pos_name, e.join_date , t.team_name , d.dep_name ,  r.rank_name , state
from employee e join `position` p  on e.pos_num = p.pos_num
join team t on e.team_num = t.team_num  
join departure d on t.dep_num = d.dep_num
join `rank` r ON e.rank_num = r.rank_num 
join state s on e.state_num = s.state_num

<where>
	<if test="!detailContent.equals('') and sl1.equals('emp_num') ">
		emp_num like CONCAT('%',#{detailContent} ,'%')
	</if>
	
	<if test="!detailContent.equals('') and sl1.equals('emp_name') ">
		emp_name like CONCAT('%',#{detailContent} ,'%')
	</if>
</where>

limit 10
offset #{offset}
</select>

<select id="sessionUp" resultType="login" parameterType="String">
	select * from employee e, rank r , team t, departure d, position p
	 where e.team_num = t.team_num and e.pos_num = p.pos_num and d.dep_num = t.dep_num and e.rank_num =r.rank_num
	and e.emp_num=#{id} 
</select>

<select id="teamOverlay" resultType="String" parameterType="String">
select team_name from team where team_name = #{team_name}
</select>

<select id="posAddOver" resultType="String" parameterType="String">
select pos_name from position where pos_name = #{pos_name}
</select>

<select id="posUpOver" resultType="String" parameterType="String">
select pos_name from position where pos_name = #{pos_name} and pos_num != #{pos_num}
</select>

<select id="rankOverlay" resultType="String" parameterType="String">
select rank_name from rank where rank_name = #{rank_name} and rank_num != #{rank_num}
</select>

<select id="rankAddOver" resultType="String" parameterType="String">
select rank_name from rank where rank_name = #{rank_name}
</select>

<select id="teamMemChk" parameterType="hashmap" resultType="int">
SELECT COUNT(e.emp_num)  
from team t join employee e on e.team_num = t.team_num 
where t.team_num = #{val}
</select>

<select id="posMemChk" parameterType="hashmap" resultType="int">
SELECT COUNT(e.emp_num)
from `position` p join employee e on e.pos_num = p.pos_num 
where p.pos_num = #{val}
</select>

<select id="rankMemChk" parameterType="hashmap" resultType="int">
SELECT COUNT(e.emp_num)
from rank r join employee e on e.rank_num = r.rank_num 
where r.rank_num = #{val}
</select>

<select id="totalCountTeam" resultType="int">
	select count(*) from team
</select>

	
</mapper>