<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.hr.HRDAO">

<select id="hrlist" resultType="hashmap">
SELECT  e.emp_num, e.emp_name,  p.pos_name, e.join_date , t.team_name , d.dep_name ,  r.rank_name 
from employee e 
join position p  on e.pos_num = p.pos_num
join team t on e.team_num = t.team_num  
join departure d on t.dep_num = d.dep_num
join rank r ON e.rank_num = r.rank_num ;
</select>

	
</mapper>