<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.mypage.MyPageDAO">

<!-- 	<update id="update"> -->
<!-- 		update employee set emp_name=#{param2}, email=#{param3}, phone=#{param4}, -->
<!-- 		academy=#{param5} where emp_num = #{param1} -->
<!-- 	</update> -->
<!-- 	<select id="getDetail" resultType="login"> -->
<!-- 		select * from employee e, rank r , team t, departure d, position p -->
<!-- 		where e.team_num = t.team_num and e.pos_num = p.pos_num and d.dep_num = -->
<!-- 		t.dep_num and e.rank_num =r.rank_num -->
<!-- 		and e.emp_num=#{param1} and e.state_num = true; -->
<!-- 	</select> -->

	<update id="update" parameterType="hashmap">
	UPDATE employee e set e.emp_name = #{emp_name}, e.phone = #{phone}, e.email = #{email}, e.academy = #{academy} where e.emp_num = #{emp_num}
	
	</update>
	
	<select id="sessionUp" resultType="login" parameterType="String">
	select * from employee e, rank r , team t, departure d, position p
	 where e.team_num = t.team_num and e.pos_num = p.pos_num and d.dep_num = t.dep_num and e.rank_num =r.rank_num
	and e.emp_num=#{id} 
</select>

<select id="careerUp" resultType="mypage" parameterType="int">
SELECT * from career c where c.career_num = #{career_num};
</select>

<update id="careerUpdate" parameterType="hashmap">
update career c set c.work_start = #{work_start}, c.work_end = #{work_end}, c.company = #{company}, c.`rank` = #{rank}, c.content = #{content} 
where c.career_num =#{career_num}
</update>

<select id="empNum" parameterType="int" resultType="String">
select emp_num from career where career_num = #{career_num}
</select>

<delete id="careerDel" parameterType="int">
delete from career where career_num = #{career_num}
</delete>

<insert id="careerAdd" parameterType="hashmap">
insert into career (emp_num, work_start, work_end, company, rank, content) values(#{emp_num}, #{work_start},#{work_end}, #{company}, #{rank}, #{content})
</insert>

<insert id="proImgAdd">
insert into file (all_num, file_sort_num, ori_filename, new_filename) values (#{param1}, 1, #{param2}, #{param3});
</insert>

<select id="imgCheck" parameterType="String" resultType="int">
select count(*) from file f where all_num = #{emp_num} and file_sort_num = 1
</select>

<delete id="imgDel" parameterType="String">
delete from file where all_num = #{emp_num} and file_sort_num = 1
</delete>

<insert id="signImgAdd">
insert into file (all_num, file_sort_num, ori_filename, new_filename) values (#{param1}, 2, #{param2}, #{param3});
</insert>

<select id="imgSignCheck" parameterType="String" resultType="int">
select count(*) from file f where all_num = #{emp_num} and file_sort_num = 2
</select>

<delete id="imgSignDel" parameterType="String">
delete from file where all_num = #{emp_num} and file_sort_num = 2
</delete>

<select id="getOldPw" resultType="String">
	select emp_pw from employee where emp_num = #{param1}
</select>

<update id="pwChange" parameterType="String">
	update employee set emp_pw = #{hash} where emp_num = #{emp_num}
</update>
	
	
</mapper>