<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.tmtm.sales.SalesDAO">
	<select id="getSec" resultType="sales">
		select section_num from section where floor = #{param1} order by section_num;
	</select>
	<select id="getStore" resultType="sales">
		select store_num, store_name from store where section_num = #{param1} and exist_check = 1;
	</select>
	<select id="getSecGraph" parameterType="hashmap" resultType="hashmap">
		<choose>
			<when test="time.equals('date')">
			select date(doc_date) as date, sum(sales_money) as sum
			from doc_sales 
			where section_num = #{sec} and doc_date BETWEEN #{start} and #{end} 
			group by date;	
			</when>
			<when test="time.equals('week')">
			SELECT DATE_FORMAT(DATE_SUB(`doc_date`, INTERVAL (DAYOFWEEK(`doc_date`)-1) DAY), '%Y/%m/%d') as start,
       		DATE_FORMAT(DATE_SUB(`doc_date`, INTERVAL (DAYOFWEEK(`doc_date`)-7) DAY), '%Y/%m/%d') as end,
       		DATE_FORMAT(`doc_date`, '%Y년 %U번째 주') as `date`, 
       		sum(`sales_money`) as sum
  			FROM doc_sales
  			where section_num = #{sec}  and doc_date BETWEEN #{start} and #{end}
 			GROUP BY date;
 			<!-- %U : 주 시작 일요일 -->
 			<!-- %u : 주 시작 월요일 -->
			</when>
			<when test="time.equals('month')">
			SELECT DATE_FORMAT(`doc_date`, '%Y년 %c월') as date, 
		    sum(`sales_money`) as sum
		  	FROM doc_sales	
		  	where section_num = #{sec} and doc_date BETWEEN #{start} and #{end}
		 	GROUP BY `date` 
		 	order by doc_date;
			</when>
			<when test="time.equals('year')">
			SELECT DATE_FORMAT(`doc_date`, '%Y년') as date, 
			sum(`sales_money`) as sum
			FROM doc_sales 
			where section_num = #{sec} and doc_date BETWEEN #{start} and #{end}
			GROUP BY DATE_FORMAT(`doc_date`, '%Y');
			</when>
		</choose>
	</select>
	<select id="getStoreGraph" parameterType="hashmap" resultType="hashmap">
		<choose>
			<when test="time.equals('date')">
			select date(doc_date) as date, sum(sales_money) as sum
			from doc_sales 
			where store_num = #{store} and doc_date BETWEEN #{start} and #{end} 
			group by date;	
			</when>
			<when test="time.equals('week')">
			SELECT DATE_FORMAT(DATE_SUB(`doc_date`, INTERVAL (DAYOFWEEK(`doc_date`)-1) DAY), '%Y/%m/%d') as start,
       		DATE_FORMAT(DATE_SUB(`doc_date`, INTERVAL (DAYOFWEEK(`doc_date`)-7) DAY), '%Y/%m/%d') as end,
       		DATE_FORMAT(`doc_date`, '%Y년 %U번째 주') as `date`, 
       		sum(`sales_money`) as sum
  			FROM doc_sales
  			where store_num = #{store} and doc_date BETWEEN #{start} and #{end}
 			GROUP BY date;
			</when>
			<when test="time.equals('month')">
			SELECT DATE_FORMAT(`doc_date`, '%Y년 %c월') as date, 
		    sum(`sales_money`) as sum
		  	FROM doc_sales	
		  	where store_num = #{store} and doc_date BETWEEN #{start} and #{end}
		 	GROUP BY `date` 
		 	order by doc_date;
			</when>
			<when test="time.equals('year')">
			SELECT DATE_FORMAT(`doc_date`, '%Y년') as date, 
			sum(`sales_money`) as sum
			FROM doc_sales 
			where store_num = #{store} and doc_date BETWEEN #{start} and #{end}
			GROUP BY DATE_FORMAT(`doc_date`, '%Y');
			</when>
		</choose>
	</select>
</mapper>